/* CSS declarations go here */
.navbar{
	border-radius: 0;
}
.navbar-nav .login-link-text, .item-list a{
	color:white;
}
.navbar-nav a{
	text-decoration: none!important;
}
.navbar-nav > li {
  padding: 15px;
}
.item-board{
	color:white;
	background: #2196F3;
	padding: 10px;
	border-radius: 5px;
	height: 100px;
	margin-bottom: 20px;
}
.item-board-add{
	background: #4CAF50;
}
a:hover, a:focus{
	text-decoration: none!important;
}
a:hover, a:hover div{
	opacity: .7;
}
.board-title{
	font-weight: bold;
}
form, .form-group{
	margin-bottom: 0;
}
.item-list {
    padding: 10px;
    background: #F44336;
    color: white;
    border-radius: 5px;
    min-height: 80px;
}

.item-title{
	font-weight: bold;
}

hr{
	margin-top: 5px;
	margin-bottom: 5px;
}
.form-add-list{
	background: #9e9e9e;
}
.item-task{
	border-radius: 5px;
	margin:10px 0;
	padding:5px;
	background:#ff9189;
	z-index: 1;
}
.button-remove{
  /* position: absolute; */
  margin-top: -5px;
  /* right: 30px; */
  float: right;
  z-index: 1;
  padding: 5px;
}
.button-remove:hover{
	cursor: pointer;
	color:black;
	font-weight: bold;
}
input[type="text"]{
	height: 30px;
	margin-bottom: 0;
}
.edit-inline{
	float: left;
	color:black;
	width: 100%;
}
.edit-inline:hover{
	opacity: .5;
	cursor: pointer;
}
.modal-title .edit-inline{
	font-weight: bold;
	font-size: 20px;
}

div.well {
    overflow-x: auto;
    white-space: nowrap;
}
div.well [class*="col"]{  /* TWBS v2 */
  display: inline-block;
  height:100%;
  width: auto;
}